CompileFlags:
  CompilationDatabase: /Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/out/Stack/ITSboard/Debug
  Add:
    - '-I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/Inc'
    - >-
      -I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - >-
      -I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/../../stm32cubef4/Utilities/Fonts
    - >-
      -I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/../../DisplayWaveshare/Inc
    - >-
      -I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/../../ITS_BRD_LIB/Utilities/AddFonts
    - '-I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/../../lwip'
    - >-
      -I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/../../lwip/src/include
    - >-
      -I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/../../lwip/src/include/lwip
    - >-
      -I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/tmp/Stack.Debug+ITSboard
    - '-I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/RTE/_Debug_ITSboard'
    - '-I/Users/yunis/.cache/arm/packs/ARM/CMSIS/6.1.0/CMSIS/Core/Include'
    - >-
      -I/Users/yunis/.cache/arm/packs/Keil/STM32F4xx_DFP/2.17.1/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/../../ITS_BRD_LIB/Inc
    - '-I/Users/yunis/GitHubRepo/GS_Programms/Programs/Stack/Inc/arch'
